@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    div.col-sm-9 div {
        height: 250px;
        font-size: 28px;
    }
</style>

<body data-spy="scroll" data-target="#myScrollspy" data-offset="20">

    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="myScrollspy">
                <ul class="nav-pills" style="list-style-type: none;">
                    <li class="active border rounded p-2"><a href="#section1" class="text-decoration-none">What does an FAQ page do?</a></li>
                    <li class="border rounded p-2"><a href="#section2" class="text-decoration-none">How can i make a payment?</a></li>
                    <li class="border rounded p-2"><a href="#section3" class="text-decoration-none">Do I need to ship items myself?</a></li>
                    <li class="border rounded p-2"><a href="#section4" class="text-decoration-none">Where can I sell with FPTShop?</a></li>
                    <li class="border rounded p-2"><a href="#section5" class="text-decoration-none">What happens when I receive an order?</a></li>                
                </ul>
            </div>
            <div class="col-sm-8">
                <div id="section1">
                    <h4>What does an FAQ page do?</h4>
                    <p>
                        An FAQ page allows people to find answers to their questions on your website. It alleviates purchasing anxieties, earns trust with visitors, and cuts down support time because people aren’t reaching out for answers.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section2">
                    <h4>How can i make a payment?</h4>
                    <p>
                        A third-party payment processor (also knows as a payment provider or payment gateway) lets you accept online payments.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section3">
                    <h4>Do I need to ship items myself?</h4>
                    <p>                   
                        No, you don’t need to ship items yourself. You can use a third-party fulfilment service to prepare and ship your orders for you.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section4">
                    <h4>Where can I sell with FPTShop?</h4>
                    <p>
                        FPTShop lets you sell almost anywhere your customers are, including online, in-person, online marketplaces, and social media.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                <div id="section5">
                    <h4>What happens when I receive an order?</h4>
                    <p>
                        Depending on your preferences, you’ll receive an email, mobile app notification, or RSS notification every time your receive an order.
                    </p>
                </div>
                <hr class="m-0 pt-2 mt-2">
                
            </div>
        </div>
    </div>

</body>






